body {
    font-size: 16px;

}

h1 {
color: orange;
font-family: sans-serif;    
}  
.ListStyle {
    background-color: whitesmoke;
    font-weight: bold;
    color: red;
    font-style: italic;
    line-height: 40px;
    text-align:center;
    text-decoration:underline
}
p {
    font-family: fantasy;
    font-weight: 600;
    font-size: 3em;
    line-height: 101px;
}