
body {
    text-align: center;
    margin-left: 0%;
    margin-right: 0%;
    background-color: wheat;
}

.article {
    background-color: whitesmoke;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 22;
}

.rodape {
    background-color: #2F3250;
    display: block;
    height: 300px;
}

.rodape p {
    position: relative;
    float: left;
    left: 200px;
    top: 160px;
    font-size: 20px;
    color: white;
}

.buttons{
    display: block;
    margin-bottom: 8px;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    margin: 0%;
    color: greenyellow;
}

.painelDeAlteracao {
    background-color: #2F3250;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    margin-bottom: 10px;
}

#header {
    background-color: #2F326E;
}

.painelDeAlteracao p {
    font-size: 18px;
    color: honeydew;
    margin-bottom: 12px;
    font-family: Arial, Helvetica, sans-serif;
}